body {
  /*background: #000;*/
}

.node-root circle {
  fill: #000;
  r: 100;
  /*stroke: #277ab7;*/
  /*opacity: .42;*/
}

.node-level1 circle {
  fill: #000;
  r: 5;
}

.node-level2 circle {
  r: 4.5;
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5;
}

.node-level3 circle {
  /*fill: #13848f;*/
  r: 3;
}

.node text.text-shadow {
  stroke: #fff;
  stroke-width: 5;
  /*display: none;*/
}

.node-root text {
  font: 26px sans-serif;
  fill: #fff;
  text-anchor: middle;
}

.node-root text.text-shadow {
  display: none;
}

.node-level1 text.text-shadow {
  stroke: #fff;
}

.node-level1 text {
  /*fill: #18ff90;*/
  font: 15px sans-serif;
}

.node-level2 text {
  /*fill: #0ff;*/
  font: 13px sans-serif;
}

.node-level3 text {
  /*fill: #13848f;*/
  font: 11px sans-serif;
}

.link {
  fill: none;
  stroke: #cdcdcd;
  opacity: .6;
  stroke-width: 1.5;
}

.node {
  cursor: pointer;
}

.node.node-level1.isHover circle, .node:not(.node-root).isHover text {
  fill: rgb(13, 164, 211);
}

.node.node-level2.isHover circle {
  fill: #fff;
  stroke: rgb(13, 164, 211);
}

.node.node-root.isHover circle {
  /*fill: #000;*/
  stroke: #0da4d3;
  stroke-width: 2.5;
}

.link.isHover {
  stroke: rgb(13, 164, 211);
  stroke-width: 2.5;
  opacity: .75;
}

svg {
  /*animation: rotate-clockwise 180s linear infinite;*/
  /*margin: 0 auto;*/
}

@keyframes rotate-clockwise {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}


/*
.svg-w {
  position: relative;
}

.head {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}*/
